*{
		padding: 0;
		margin: 0;
		border: 0;
 }

body{
		direction: rtl;
		font-family: "IranN";
		font-size: 1.2rem;
		height: auto !important;
	}
#menu1{
	background-color: rgba(105,205,203,1.00);
	a{
		color: #fff;
		margin: 0 8px;
		img{
			width: 150px;
			text-align: left;
			}
	}
	
	button{
		text-align: right;
		span{
			color: #fff;
			}
			}
		}
.dropdown-item:hover{
	background-color: rgb(12,12,13);
}
#x{
	position: absolute;
	left: 10px;
}
#part1{
	background-color: rgba(105,205,203,1.00);
	height: 400px;
	margin-top: 90px;
	
	}
.h2title{
	color:#fff;
	font-size: 28pt;
	margin:100px 44% 30px 0px;
	float: right;
}
#part2{
	background-color: rgb(18,18,19);
	height: auto;
	padding: 100px 5% 170px 6%;
	
	form{
		text-align: right;
		color: #fff;
		label{
			color: #fff;
			margin: 15px 0 5px;
		}
		.btn{
			height: 50px;
			line-height: 50px;
			padding: 0 25px;
			font-size: 1.3rem;
			font-weight: bold;
			margin: 5px auto;
		}
	}
	}
#footer{
	height: 140px;
	background-color:rgb(12,12,13);
}

.fpart{
	height: 100px;
	float: right;
	margin-top: 20px;
	background-color:  rgb(18,18,19);
	color:  rgba(240,218,190,1.00);
}

.footerp{
	float: right;
	margin-right: 90px;
	margin-top: 40px;
}
.icon{
	float: left;
	margin:25px 50px;
	color: aliceblue;
	
}