*{
		padding: 0;
		margin: 0;
		border: 0;
 }

body{
		direction: rtl;
		font-family: "IranN";
		font-size: 1.2rem;
	}
#menu1{
	background-color: rgba(105,205,203,1.00);
	a{
		color: #fff;
		margin: 0 8px;
		img{
			width: 150px;
			text-align: left;
			}
	}
	
	button{
		text-align: right;
		span{
			color: #fff;
			}
			}
		}
.dropdown-item:hover{
	background-color: rgb(12,12,13);
}
#part1{
	background-color: rgba(105,205,203,1.00);
	height: 400px;
	margin-top: 90px;
	
	}
	.h3{
		color: #fff;
		text-align: center;
		font-size: 40pt;
		margin:100px 49% 30px 0px;
		float: right;	
	}
	.h4{
		color:#fff;
		font-size: 12pt;
		margin:0px 47% 30px 0px;
		float: right;
		}
	.h4a{
		color: rgb(138,102,6) !important;
		font-size: 20pt !important;
		}
#part2{
	background-color: rgb(18,18,19);
	height: auto;
	}

	#part2right{
		width: 45%;
		height:500px !important;
		display: inline-block;
		background-color:rgba(12,12,13,1.00);
		float: right;
		color: rgba(240,218,190,1.00);
		padding: 50px;
		text-align: center;
				}
	
		.h3title{
			line-height:190px;
			font-size: 24pt !important;
				}
.form{
	padding: 80px;
}

	.lable{
		
		margin-left: 500px;
		color: rgba(240,218,190,1.00);
		margin-bottom: 20px;
		
	}
	.space{
		margin-left: 530px !important ;
	}
	.inputs{
		
		margin-left: 228px;
		color: rgba(240,218,190,1.00);
		margin-bottom: 20px;
		width: 273px;
			}
	.submit{
		width: 80px;
		height:42px;
		line-height: 42px;
		font-size: 20pt;
			}
#footer{
	height: 140px;
	background-color:rgb(12,12,13);
}

.fpart{
	height: 100px;
	float: right;
	margin-top: 20px;
	background-color:  rgb(18,18,19);
	color:  rgba(240,218,190,1.00);
}

.footerp{
	float: right;
	margin-right: 90px;
	margin-top: 40px;
}
.icon{
	float: left;
	margin:25px 50px;
	color: aliceblue;
	
}